
<!-- QUEUE section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Shows</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-lg-6">
        <ul uib-pagination
            total-items="ctrl.series.length"
            ng-model="ctrl.currentPage"
            items-per-page="ctrl.pageSize"></ul>
      </div>
      <div class="col-lg-6">
        <label>Filter:
          <input type="text" ng-model="ctrl.titleSearch">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filterByTitle: ctrl.titleSearch |
                limitTo : ctrl.pageSize : (ctrl.currentPage - 1) * ctrl.pageSize">
        <a ng-click="ctrl.open(show)" href="">
          <img class="img-rounded"
               ng-style="ctrl.posterStyle(show)"
               ng-src="{{show.posterResolved}}"
               err-src="images/GenericSeries.gif"
               width="100%"/>
        </a>
        <div class="posterTitle" ng-show="show.imageDoesNotExist">
          <span ng-bind="show.title"></span>
        </div>
        <div class="addShowButton">
          <input type="button"
                 class="btn btn-success"
                 style="width: 100pt"
                 ng-click="ctrl.addToMyShows(show)"
                 ng-disabled="show.addedSuccessfully"
                 value="Add Show">
        </div>
      </div>
    </div>

    <div class="row">
      <ul uib-pagination
          total-items="ctrl.series.length"
          ng-model="ctrl.currentPage"
          items-per-page="ctrl.pageSize"></ul>
    </div>

  </div>
</div>
