<div class="modal-header">
  <h1 ng-bind="ctrl.series.title"></h1>
</div>

<div class="modal-body clearfix">

  <div class="fade-repeat col-lg-3 posterRow" ng-repeat="poster in ctrl.allPosters">
    <img class="img-rounded"
         ng-style="ctrl.posterStyle(poster)"
         ng-src="{{poster.posterResolved}}"
         ng-click="ctrl.selectPoster(poster)"
         width="100%"/>
    <h4 ng-bind="poster.poster_path"></h4>
  </div>

</div>

<div class="modal-footer">
  <input class="btn btn-primary"
         type="button"
         value="OK"
         ng-show="ctrl.auth.isAdmin()"
         ng-disabled="!ctrl.auth.isAuthenticated"
         ng-click="ctrl.ok()">
  <input class="btn btn-default"
         type="button"
         value="Cancel"
         ng-click="ctrl.cancel()">
</div>