
<!-- QUEUE section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Queue</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.showInQueue |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
        <a ng-click="ctrl.open(show)" href="">
          <img class="img-rounded"
               ng-style="ctrl.posterStyle(show)"
               ng-src="{{show.posterResolved}}"
               width="100%"/>
          <div class="posterBadge">
            <span ng-bind="show.unwatched_all"></span>
          </div>

        </a>
      </div>
    </div>
  </div>
</div>

<!-- OTHER ACTIVE section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Active</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.otherActive |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
        <a ng-click="ctrl.open(show)" href="">
          <img class="img-rounded"
               ng-style="ctrl.posterStyle(show)"
               ng-src="{{show.posterResolved}}"
               width="100%"/>
          <div class="posterBadge">
            <span ng-bind="show.unwatched_all"></span>
          </div>

        </a>
      </div>
    </div>
  </div>
</div>

<!-- THIS WEEK section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>This Week</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.upcomingSoon |
                orderBy:'nextAirDate'">
        <div>
          <a ng-click="ctrl.open(show)" href="">
            <img class="img-rounded"
                 ng-src="{{show.posterResolved}}"
                 width="100%"/>
          </a>
        </div>
        <div align="right">
          <h5 ng-bind="show.nextAirDateFormatted"></h5>
        </div>
      </div>
    </div>
  </div>
</div>
