<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Newly Added</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.newlyAdded |
                orderBy:'date_added'">
        <div>
          <a ng-click="ctrl.open(show)" href="">
            <img class="img-rounded"
                 ng-src="{{show.posterResolved}}"
                 width="100%"/>
          </a>
        </div>
        <div align="right">
          <h5 ng-bind="show.date_added|date:ctrl.getDateFormat(show.date_added):'+0000'"></h5>
        </div>
      </div>
    </div>
  </div>
</div>