<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Unmatched Tier 1</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.hasImportantUnmatched |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
        <a ng-click="ctrl.tryToMatch(show)" href="">
          <img class="img-rounded"
               ng-style="ctrl.posterStyle(show)"
               ng-src="{{show.posterResolved}}"
               width="100%"/>
          <div class="posterBadgeRed">
            <span ng-bind="show.unmatched_episodes"></span>
          </div>

        </a>
      </div>
    </div>
  </div>

  <div class="panel-heading">
    <h3>Unmatched Episodes</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.hasInactiveUnmatched |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
        <a ng-click="ctrl.tryToMatch(show)" href="">
          <img class="img-rounded"
               ng-style="ctrl.posterStyle(show)"
               ng-src="{{show.posterResolved}}"
               width="100%"/>
          <div class="posterBadgeRed">
            <span ng-bind="show.unmatched_episodes"></span>
          </div>

        </a>
      </div>
    </div>
  </div>
</div>