  <div class="modal-header">
    <h3 class="modal-title">Add New Series</h3>
  </div>

  <div class="modal-body clearfix">

    <div class="alert alert-warning" ng-show="ctrl.showExists">
      Show name already exists!
    </div>

    <form class="bs-component"
          name="newSeriesFields"
          novalidate>
      <div class="form-group col-lg-9">

        <div class="col-lg-6">

          <label class="control-label" for="newSeriesTitle">Name</label>
          <input type="text"
                 class="form-control"
                 id="newSeriesTitle"
                 name="newSeriesTitle"
                 ng-required="true"
                 ng-change="ctrl.updateShowExists()"
                 ng-model="ctrl.series.title"/>
        </div>

        <div class="col-lg-3">

          <label class="control-label" for="newMetacriticInput">Metacritic</label>
          <input type="number"
                 class="form-control"
                 id="newMetacriticInput"
                 name="metacriticInput"
                 min="1"
                 max="100"
                 ng-model="ctrl.series.metacritic"/>


          <label class="control-label" for="newRatingInput">My Rating</label>
          <input type="number"
                 class="form-control"
                 id="newRatingInput"
                 name="myRatingInput"
                 min="1"
                 max="100"
                 ng-model="ctrl.series.my_rating"/>

        </div>


        <div class="col-lg-6">
          <label for="tierGroup">Tier</label>
          <div id="tierGroup">
            <label ng-repeat="tier in ctrl.tiers"
                   ng-class="ctrl.getButtonClass(tier)"
                   ng-model="ctrl.series.tier"
                   btn-radio="tier">
              <span ng-bind="tier"></span>
            </label>
          </div>
        </div>

        <div class="col-lg-6">
          <label for="locationGroup">Viewing Location</label>
          <div id="locationGroup">
            <label ng-repeat="location in ctrl.viewingLocations"
                   ng-class="ctrl.getLocButtonClass(location)"
                   ng-model="ctrl.selectedLocation"
                   btn-radio="location">
              <span ng-bind="location.name"></span>
            </label>
          </div>
        </div>
      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            ng-click="ctrl.ok()"
            ng-disabled="newSeriesFields.$invalid">Submit</button>
    <button class="btn btn-primary"
            ng-click="ctrl.cancel()">Cancel</button>
  </div>