<form class="bs-component"
      id="episodeDetail"
      name="episodeDetail"
      ng-submit="ctrl.updateAndClose()"
      novalidate>

  <div class="modal-header">
    <h1 ng-bind="ctrl.episode.series_title"></h1>
  </div>

  <div class="modal-body clearfix">

    <!-- Top Group -->
    <div class="form-group col-lg-12">

      <!-- Episode Image -->
      <div class="form-group col-lg-6">
        <img class="img-rounded"
             ng-src="{{ctrl.episode.imageResolved}}"
             width="100%"/>
      </div>

      <!-- Title -->
      <div class="form-group col-lg-6">
        <h2 ng-bind="ctrl.episode.title"></h2>
      </div>

      <!-- Episode Number -->
      <div class="form-group col-lg-6">
        <h4>
          <span>Season</span>
          <strong><span ng-bind="ctrl.episode.season"></span></strong>
          <span> - Episode</span>
          <strong><span ng-bind="ctrl.episode.episode_number"></span></strong>
        </h4>
      </div>

      <!-- Episode Summary -->
      <div class="form-group col-lg-6">
        <span ng-bind="ctrl.episode.tvdb_overview"></span>
      </div>

    </div>




    <!-- Air Date -->
    <div class="form-group col-lg-3">
      <label class="control-label" for="airDate">Aired</label>
      <div class="date">
        <input type="text"
               id="airDate"
               name="airDate"
               class="form-control"
               ng-model="ctrl.air_date">
      </div>
    </div>

    <!-- Watched (uses Bootstrap Switch - remember javascript snippet at bottom to activate!) -->
    <div class="form-group col-lg-3">
      <label class="control-label" for="watched">Watched</label>
      <div>
        <input type="checkbox"
               id="watched"
               name="watched"
               checked
               class="form-control"
               ng-model="ctrl.watched"
               ng-change="ctrl.changeWatched()">
      </div>
    </div>

    <!-- Watch Date -->
    <div class="form-group col-lg-3">
      <label class="control-label" for="watchedDate">Watched</label>
      <div class="date">
        <input type="text"
               id="watchedDate"
               name="watchedDate"
               class="form-control"
               ng-model="ctrl.watched_date"
               ng-change="ctrl.changeWatchedDate()">
      </div>
    </div>

    <div class="form-group col-lg-12">

      <!-- Funny -->
      <div class="form-group col-lg-3">
        <label class="control-label" for="ratingFunny">Funny</label>
        <input type="number"
               class="form-control input-lg"
               id="ratingFunny"
               name="ratingFunny"
               ng-required="false"
               min="1"
               max="100"
               ng-model="ctrl.interfaceRating.rating_funny"
               ng-change="ctrl.onRatingChange()"/>
      </div>

      <!-- Character -->
      <div class="form-group col-lg-3">
        <label class="control-label" for="ratingCharacter">Character</label>
        <input type="number"
               class="form-control input-lg"
               id="ratingCharacter"
               name="ratingCharacter"
               ng-required="false"
               min="1"
               max="100"
               ng-model="ctrl.interfaceRating.rating_character"
               ng-change="ctrl.onRatingChange()"/>
      </div>

      <!-- Story -->
      <div class="form-group col-lg-3">
        <label class="control-label" for="ratingStory">Story</label>
        <input type="number"
               class="form-control input-lg"
               id="ratingStory"
               name="ratingStory"
               ng-required="false"
               min="1"
               max="100"
               ng-model="ctrl.interfaceRating.rating_story"
               ng-change="ctrl.onRatingChange()"/>
      </div>

      <!-- Rating -->
      <div class="form-group col-lg-3">
        <label class="control-label" for="ratingValue">Overall</label>
        <input type="number"
               class="form-control input-lg"
               id="ratingValue"
               name="ratingValue"
               ng-required="false"
               min="1"
               max="100"
               ng-model="ctrl.interfaceRating.rating_value"
               ng-change="ctrl.onRatingChange()"/>
      </div>

    </div>

    <!-- Review -->
    <div class="form-group col-lg-12">

      <label class="control-label" for="review">Review</label>
      <textarea
             class="form-control"
             id="review"
             name="review"
             rows="5"
             ng-required="false"
             ng-model="ctrl.interfaceRating.review"></textarea>

    </div>

    <!-- Previous Episodes -->
    <div class="form-group col-lg-12">
      <h3>Previous Episodes</h3>
      <table class="table table-striped table-hover ">
        <thead>
        <th>Episode</th>
        <th>Title</th>
        <th>Date</th>
        <th>Rating</th>
        </thead>
        <tr data-ng-repeat="episode in ctrl.previousEpisodes">
          <td ng-bind="episode.tvdb_episode_number"></td>
          <td ng-bind="episode.tvdb_episode_name" class="episodeDescription"></td>
          <td ng-bind="episode.air_date|date:ctrl.getDateFormat(episode.air_date):'-0800'"></td>
          <td ng-style="episode.colorStyle()" width="70">
              <span ng-bind="episode.rating_value"
                    ng-show="!ctrl.shouldShowRate(episode)"></span>
          </td>
        </tr>
      </table>
    </div>

    <div class="form-group col-lg-12">

      <!-- TVDB Info -->
      <div class="form-group col-lg-6" ng-show="ctrl.episode.tvdb_episode_id != null">

        <!-- Director -->
        <div ng-show="ctrl.episode.tvdb_director != null">
          <h3>Director</h3>
          <span ng-bind="ctrl.episode.tvdb_director"></span>
        </div>

        <!-- Writer -->
        <div ng-show="ctrl.episode.tvdb_writer != null">
          <h3>Writer</h3>
          <span ng-bind="ctrl.episode.tvdb_writer"></span>
        </div>


        <!-- Production Code -->
        <div ng-show="ctrl.episode.tvdb_production_code != null">
          <h3>Production Code</h3>
          <span ng-bind="ctrl.episode.tvdb_production_code"></span>
        </div>

        <!-- Rating -->
        <div ng-show="ctrl.episode.tvdb_rating != null">
          <h3>TVDB Rating</h3>
          <span ng-bind="ctrl.episode.tvdb_rating"></span>
        </div>


      </div>

      <!-- TiVo Info-->
      <div class="form-group col-lg-6" ng-show="ctrl.episode.on_tivo">


        <!-- Station -->
        <div ng-show="ctrl.episode.tivo_station != null">
          <h3>Station</h3>
          <span ng-bind="ctrl.episode.tivo_station"></span>
        </div>

        <!-- Channel -->
        <div ng-show="ctrl.episode.tivo_channel != null">
          <h3>Channel</h3>
          <span ng-bind="ctrl.episode.tivo_channel"></span>
        </div>

        <!-- Rating -->
        <div ng-show="ctrl.episode.tivo_rating != null">
          <h3>Rating</h3>
          <span ng-bind="ctrl.episode.tivo_rating"></span>
        </div>


      </div>


    </div>

  </div>


  <div class="modal-footer">
    <input class="btn btn-primary"
           type="submit"
           value="Submit"
           ng-disabled="episodeDetail.$invalid || !ctrl.auth.isAuthenticated">
    <input class="btn btn-default"
           type="button"
           value="Cancel"
           ng-click="ctrl.cancel()">
  </div>

</form>

<script>
  $(document).ready(function()  {
    $('#watchedDate').datepicker({
      todayBtn: "linked",
      clearBtn: true,
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      todayHighlight: true
    });
    $('#airDate').datepicker({
      todayBtn: "linked",
      clearBtn: true,
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      todayHighlight: true
    });
  });
</script>

