<div class="container">
  <div ng-controller="gamesController as ctrl">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>

    <div class="bs-docs-section clearfix">
      <div class="col-lg-12">

        <div id="gameFilters">
          <button type="button"
                  class="btn btn-primary"
                  btn-checkbox
                  btn-checkbox-true="true"
                  btn-checkbox-false="false"
                  ng-model="ctrl.steamCloud">Cloud</button>
          <button type="button"
                  class="btn btn-success"
                  ng-click="ctrl.addGame()"
              >+</button>
        </div>

        <div id="gamesContainer">
          <table class="table table-striped table-hover">
            <thead>
            <th>Game</th>
            <th>Platform</th>
            <th>Rating</th>
            <th>MC</th>
            <th>Guess</th>
            <th>Mayhew</th>
            <th>Agg</th>
            <th>Time Played</th>
            <th>Total</th>
            </thead>
            <tr data-ng-repeat="game in ctrl.games |
                filter:ctrl.gamesFilter |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
              <td width="300px" ng-click="ctrl.open(game)">
                <img ng-src="{{game.giantbomb_thumb_url}}" ng-hide="game.giantbomb_thumb_url == null">
                <strong><span class="h4" ng-show="game.giantbomb_thumb_url == null" ng-bind="game.title"></span></strong>
              </td>
              <td ng-bind="game.platform"></td>
              <td ng-bind="game.FullRating|number:2"></td>
              <td ng-bind="game.metacritic"></td>
              <td ng-bind="game.guess"></td>
              <td ng-bind="game.mayhew"></td>
              <td ng-bind="game.myAggregate"></td>
              <td ng-bind="game.aggPlaytime|number:1"></td>
              <td ng-bind="game.aggTimetotal|number:1"></td>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </div>

</div>