<div class="container">
  <div>

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>

    <div class="bs-docs-section clearfix">
      <div class="col-lg-12">

        <!-- All filters -->
        <div id="gameFilters">

          <!-- Platform filters -->
          <div class="btn-group" role="group">
            <button type="button"
                    ng-repeat="platform in ctrl.platforms"
                    ng-class="ctrl.getButtonClass(ctrl.platformFilters[platform])"
                    btn-checkbox
                    btn-checkbox-true="true"
                    btn-checkbox-false="false"
                    ng-model="ctrl.platformFilters[platform]"
                    ng-change="ctrl.updatePlatformFilter(platform)">
              <span ng-bind="platform"></span>
            </button>
          </div>

          <div class="btn-group" role="group">
            <button type="button"
                    ng-class="ctrl.getButtonClass(ctrl.consoleFilter)"
                    btn-checkbox
                    btn-checkbox-true="true"
                    btn-checkbox-false="false"
                    ng-model="ctrl.consoleFilter"
                    ng-change="ctrl.updateConsoleFilter()">
              Console
            </button>
            <button type="button"
                    ng-class="ctrl.getButtonClass(ctrl.computerFilter)"
                    btn-checkbox
                    btn-checkbox-true="true"
                    btn-checkbox-false="false"
                    ng-model="ctrl.computerFilter"
                    ng-change="ctrl.updateComputerFilter()">
              Computer
            </button>
            <button type="button"
                    ng-class="ctrl.getButtonClass(ctrl.noneFilter)"
                    btn-checkbox
                    btn-checkbox-true="true"
                    btn-checkbox-false="false"
                    ng-model="ctrl.noneFilter"
                    ng-change="ctrl.updateNoneFilter()">
              None
            </button>
          </div>

          <!-- Steam Cloud filter -->
          <button type="button"
                  ng-class="ctrl.getButtonClass(ctrl.steamCloud)"
                  btn-checkbox
                  btn-checkbox-true="true"
                  btn-checkbox-false="false"
                  ng-model="ctrl.steamCloud">Cloud</button>

          <!-- Many Hours Played filter -->
          <button type="button"
                  ng-class="ctrl.getButtonClass(ctrl.manyHours)"
                  btn-checkbox
                  btn-checkbox-true="true"
                  btn-checkbox-false="false"
                  ng-model="ctrl.manyHours">Playtime</button>

          <!-- Nearly Done filter -->
          <button type="button"
                  ng-class="ctrl.getButtonClass(ctrl.nearlyDoneFilter)"
                  btn-checkbox
                  btn-checkbox-true="true"
                  btn-checkbox-false="false"
                  ng-model="ctrl.nearlyDoneFilter">Nearly Done</button>


          <!-- Unplayed filter -->
          <button type="button"
                  ng-class="ctrl.getButtonClass(ctrl.unplayedFilter)"
                  btn-checkbox
                  btn-checkbox-true="true"
                  btn-checkbox-false="false"
                  ng-model="ctrl.unplayedFilter">Unplayed</button>


          <!-- Newly Added filter -->
          <button type="button"
                  ng-class="ctrl.getButtonClass(ctrl.newlyAddedFilter)"
                  btn-checkbox
                  btn-checkbox-true="true"
                  btn-checkbox-false="false"
                  ng-model="ctrl.newlyAddedFilter">Newly Added</button>



          <!-- Add Game button -->
          <button type="button"
                  class="btn btn-success"
                  ng-click="ctrl.addGame()">+</button>
        </div>

        <!-- Games Table -->
        <div id="gamesContainer">
          <table class="table table-striped table-hover">
            <thead>
            <th></th>
            <th>Game</th>
            <th>Platform</th>
            <th>Rating</th>
            <th>MC</th>
            <th>Guess</th>
            <th>Mayhew</th>
            <th>Agg</th>
            <th>Time Played</th>
            <th>Total</th>
            </thead>
            <tr data-ng-repeat="game in ctrl.games |
                filter:ctrl.gamesFilter |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
              <td width="250px" ng-click="ctrl.open(game)">
                <img ng-src="{{game.giantbomb_thumb_url}}" ng-hide="game.giantbomb_thumb_url == null">
              </td>
              <td ng-bind="game.title"></td>
              <td ng-bind="game.platform"></td>
              <td ng-bind="game.FullRating|number:1"></td>
              <td ng-bind="game.metacritic"></td>
              <td ng-bind="game.guess"></td>
              <td ng-bind="game.mayhew"></td>
              <td ng-bind="game.myAggregate"></td>
              <td ng-bind="game.aggPlaytime|number:1"></td>
              <td ng-bind="game.aggTimetotal|number:1"></td>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </div>

</div>