<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <img ng-src="{{user.profile.picture}}">
    <button ng-click="user.getMessage()">Get Message</button>
    <button ng-click="user.getSecretMessage()">Get Secret Message</button>
    <span class="md-headline">{{user.profile.nickname}}</span>
    <span class="md-subhead">{{user.profile.email}}</span>
    Role: {{user.profile.app_metadata.roles[0]}}
    <h3>{{user.message}}</h3>
  </div>
</div>