<form class="bs-component"
      id="seriesRating"
      name="seriesRating"
      ng-submit="ctrl.updateAndClose()"
      novalidate>

  <div class="modal-header">
    <h1 ng-bind="ctrl.episodeGroup.title"></h1>
  </div>

  <div class="modal-body clearfix">

    <!-- Top Group -->
    <div class="form-group col-lg-12">

      <!-- Series Poster -->
      <div class="form-group col-lg-3">
        <img class="img-rounded"
             ng-src="{{ctrl.posterResolved}}"
             width="100%"/>
      </div>

      <div class="form-group col-lg-9">

        <div class="form-group col-lg-3">
          <label class="control-label" for="avgRating">Average</label>
          <div ng-style="ctrl.colorStyle(ctrl.episodeGroup.avg_rating)">
            <h3>
              <strong>
                <span id="avgRating" ng-bind="ctrl.episodeGroup.avg_rating"></span>
              </strong>
            </h3>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="control-label" for="maxRating">Max</label>
          <div ng-style="ctrl.colorStyle(ctrl.episodeGroup.max_rating)">
            <h3>
              <strong>
                <span id="maxRating" ng-bind="ctrl.episodeGroup.max_rating"></span>
              </strong>
            </h3>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="control-label" for="lastRating">Last</label>
          <div ng-style="ctrl.colorStyle(ctrl.episodeGroup.last_rating)">
            <h3>
              <strong>
                <span id="lastRating" ng-bind="ctrl.episodeGroup.last_rating"></span>
              </strong>
            </h3>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-9">

        <div class="form-group col-lg-3">
          <label class="control-label" for="ratingValue">Rating</label>
          <input type="number"
                 class="form-control input-lg"
                 id="ratingValue"
                 name="ratingValue"
                 ng-required="true"
                 min="1"
                 max="100"
                 ng-model="ctrl.interfaceFields.rating"/>
        </div>
      </div>

    </div>

    <div class="form-group col-lg-12">
      <label class="control-label" for="review">Review</label>
      <textarea
          class="form-control"
          id="review"
          name="review"
          rows="10"
          ng-required="false"
          ng-model="ctrl.interfaceFields.review"></textarea>
    </div>

    <div class="form-group col-lg-12">
      <table class="table table-striped table-hover ">
        <thead>
        <th>Ssn</th>
        <th>Ep</th>
        <th>Title</th>
        <th>Date</th>
        <th>Watched</th>
        <th>Rating</th>
        </thead>
        <tr data-ng-repeat="episode in ctrl.episodes |
                          filter:ctrl.episodeFilter |
                          orderBy:['season','tvdb_episode_number']">
          <td ng-bind="episode.season"></td>
          <td ng-bind="episode.tvdb_episode_number"></td>
          <td ng-bind="episode.tvdb_episode_name" class="episodeDescription"></td>
          <td ng-bind="episode.air_date|date:ctrl.getDateFormat(episode.air_date):'+0000'"></td>
          <td>
            <span ng-bind="ctrl.getWatchedDateOrWatched(episode)"></span>
          </td>
          <td ng-style="ctrl.colorStyle(ctrl.getRating(episode))" width="70">
            <span ng-bind="ctrl.getRating(episode)"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <input class="btn btn-primary"
           type="submit"
           value="Submit"
           ng-disabled="seriesRating.$invalid">
    <input class="btn btn-default"
           type="button"
           value="Cancel"
           ng-click="ctrl.cancel()">
  </div>
</form>