<div class="container">

  <div class="page-header" style="margin-bottom: 2px" id="banner">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>

  <div class="container col-lg-12">
    <ul class="nav nav-tabs">
      <li ui-sref="tv.shows.main" ui-sref-active="active">
        <a>My Shows</a>
      </li>
      <li ui-sref="tv.rate" ui-sref-active="active" ng-show="ctrl.auth.isAdmin()">
        <a>
          Rate
          <span class="badge"
                ng-show="ctrl.getNumberOfShowsToRate() > 0"
                ng-bind="ctrl.getNumberOfShowsToRate()"></span>
        </a>
      </li>
      <li ui-sref="tv.addshows.main" ui-sref-active="active">
        <a>Add More</a>
      </li>
      <li ui-sref="tv.match.seriesmatching" ui-sref-active="active" ng-show="ctrl.auth.isAdmin()">
        <a>
          Match
          <span class="badge pillTabRed"
                      ng-show="ctrl.getNumberOfPendingMatches() > 0"
                      ng-bind="ctrl.getNumberOfPendingMatches()"></span>
        </a>

      </li>
    </ul>

  </div>


  <div class="container col-lg-12">

    <div ui-view></div>

  </div>

</div>