<div class="modal-header">
  <h3 class="modal-title" ng-bind="ctrl.series.title"/>
</div>
<div class="modal-body">

  <div id="unmatchedEpisodes">
    <table class="table table-striped table-hover ">
      <thead>
      <th>Episode</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Date</th>
      <th>TiVo</th>
      <th></th>
      </thead>
      <tr data-ng-repeat="episode in ctrl.unmatchedEpisodes |
                          orderBy:['showing_start_time']"
          ng-class="ctrl.getRowClass(episode)"
          ng-click="ctrl.toggleRowTop(episode)">
        <td ng-bind="episode.episode_number"></td>
        <td ng-bind="episode.title"></td>
        <td ng-bind="episode.description" class="episodeDescription"></td>
        <td ng-bind="episode.showing_start_time|date:ctrl.getDateFormat(episode.showing_start_time):'America/Los_Angeles'"></td>
        <td>
              <span ng-class="ctrl.getUnmatchedLabelInfo(episode).labelClass"
                    ng-hide="ctrl.getUnmatchedLabelInfo(episode) === null"
                    ng-bind="ctrl.getUnmatchedLabelInfo(episode).labelText"></span>
        </td>
        <td>
          <button type="button"
                  ng-click="ctrl.ignoreUnmatchedEpisode(episode)"
                  class="btn btn-warning"
                  ng-show="ctrl.auth.isAdmin()"
                  ng-disabled="!ctrl.auth.isAuthenticated">Ignore</button>
          <button type="button"
                  ng-click="ctrl.retireUnmatchedEpisode(episode)"
                  class="btn btn-danger"
                  ng-show="ctrl.auth.isAdmin()"
                  ng-disabled="!ctrl.auth.isAuthenticated">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div id="episodesToMatch">

    <div id="seasonFilter" class="col-lg-9">
      <label ng-repeat="season in ctrl.seasonLabels"
             ng-class="ctrl.getButtonClass(season)"
             ng-model="ctrl.selectedSeason"
             btn-radio="season">
        <span ng-bind="season"></span>
      </label>
    </div>

    <div id="actions" class="col-lg-3">
      <button type="button"
              ng-click="ctrl.matchSelectedEpisodes()"
              class="btn btn-warning"
              ng-show="ctrl.auth.isAdmin()"
              ng-disabled="!ctrl.auth.isAuthenticated">Match</button>
    </div>

    <table class="table table-striped table-hover ">
      <thead>
      <th>Episode</th>
      <th>Title</th>
      <th>Date</th>
      <th>TiVo</th>
      <th></th>
      </thead>
      <tr data-ng-repeat="episode in ctrl.episodes |
                          filter:ctrl.bottomFilter |
                          orderBy:['tvdb_episode_number']"
          ng-class="ctrl.getRowClass(episode)"
          ng-click="ctrl.toggleRowBottom(episode)">
        <td ng-bind="episode.tvdb_episode_number"></td>
        <td ng-bind="episode.tvdb_episode_name" class="episodeDescription"></td>
        <td ng-bind="episode.air_time|date:ctrl.getDateFormat(episode.air_time):'America/Los_Angeles'"></td>
        <td>
              <span ng-class="ctrl.getLabelInfo(episode).labelClass"
                    ng-hide="ctrl.getLabelInfo(episode) === null"
                    ng-bind="ctrl.getLabelInfo(episode).labelText"></span>
        </td>
        <td><button type="button"
                    ng-click="ctrl.unlinkEpisode(episode)"
                    class="btn btn-warning"
                    ng-show="ctrl.auth.isAdmin()"
                    ng-disabled="!ctrl.auth.isAuthenticated">Unlink</button></td>
      </tr>
    </table>

  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ctrl.ok()">Close</button>
</div>