<div class="container">

  <div class="page-header" style="margin-bottom: 2px" id="banner">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>

  <div class="container col-lg-12">
    <ul class="nav nav-tabs">
      <li ui-sref="mytv.shows.main" ui-sref-active="active">
        <a>My Shows</a>
      </li>
      <li ui-sref="mytv.rate" ui-sref-active="active" ng-show="ctrl.auth.isAdmin()">
        <a>Rate</a>
      </li>
      <li ui-sref="mytv.addshows.main" ui-sref-active="active">
        <a>Add More</a>
      </li>
      <li ui-sref="mytv.match.seriesmatching" ui-sref-active="active" ng-show="ctrl.auth.isAdmin()">
        <a>Match</a>
      </li>
      <li ui-sref="mytv.findshow.main" ui-sref-active="active" ng-show="ctrl.auth.isAdmin()">
        <a>Find</a>
      </li>
    </ul>

  </div>


  <div class="container col-lg-12">

    <div ui-view></div>

  </div>

</div>