<div class="modal-header">
  <h3 class="modal-title">Add New Game</h3>
</div>

<div class="modal-body clearfix">

  <div class="alert alert-warning" ng-show="ctrl.gameExists">
    Game name already exists for platform!
  </div>

  <form class="bs-component"
        name="newGameFields"
        novalidate>
    <div class="form-group col-lg-9">

      <div class="col-lg-6">

        <label class="control-label" for="newGameTitle">Name</label>
        <input type="text"
               class="form-control"
               id="newGameTitle"
               name="newGameTitle"
               ng-required="true"
               ng-change="ctrl.updateGameExists()"
               ng-model="ctrl.game.title"/>
      </div>

      <div class="form-group col-lg-3">
        <label class="control-label" for="platformInput">Platform</label>
        <select class="form-control"
                id="platformInput"
                name="platformInput"
                ng-change="ctrl.updateGameExists()"
                ng-model="ctrl.game.platform">
          <option value="PC">PC</option>
          <option value="PS4">PS4</option>
          <option value="Xbox One">Xbox One</option>
          <option value="Wii U">Wii U</option>
          <option value="Xbox 360">Xbox 360</option>
          <option value="PS3">PS3</option>
          <option value="Wii">Wii</option>
          <option value="DS">DS</option>
          <option value="Xbox">Xbox</option>
        </select>
      </div>

      <div class="form-group col-lg-3">
        <label class="control-label" for="ownedInput">Owned</label>
        <select class="form-control"
                id="ownedInput"
                name="ownedInput"
                ng-model="ctrl.game.owned">
          <option value="owned">Owned</option>
          <option value="not owned">Not Owned</option>
          <option value="borrowed">Borrowed</option>
        </select>
      </div>


      <div class="form-group col-lg-3">
        <label class="control-label" for="mayhewInput">Mayhew</label>
        <input type="number"
               class="form-control"
               id="mayhewInput"
               name="mayhewInput"
               min="1"
               max="100"
               ng-model="ctrl.game.mayhew"/>
      </div>

    </div>

  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-success"
          ng-click="ctrl.ok()"
          ng-show="ctrl.auth.isAdmin()"
          ng-disabled="newGameFields.$invalid || ctrl.gameExists || !ctrl.auth.isAuthenticated">Submit</button>
  <button class="btn btn-primary"
          ng-click="ctrl.cancel()">Cancel</button>
</div>