<form ng-submit="ctrl.changeValues()">

  <div class="modal-header">
    <h1 ng-bind="ctrl.game.title"></h1>
    <h3>Add Playtime</h3>
  </div>

  <div class="modal-body clearfix">

    <div class="row">
      <div class="form-group col-lg-3">
        <label class="control-label" for="sessionDate">Played</label>
        <div class="date">
          <input type="text"
                 id="sessionDate"
                 class="form-control"
                 ng-model="ctrl.session_date">
        </div>
      </div>
    </div>

    <!-- Gameplay Time fields -->
    <div class="row">
      <div class="col-sm-6">

        <div class="form-inline">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="originalHours">Original Total</label>

            <div class="col-sm-3 input-group">
              <input type="number"
                     class="form-control"
                     id="originalHours"
                     ng-model="ctrl.original_hours"/>
              <span class="input-group-addon">h</span>
            </div>

            <div class="col-sm-3 input-group">
              <input type="number"
                     class="form-control"
                     id="originalMinutes"
                     ng-model="ctrl.original_minutes"/>
              <span class="input-group-addon">m</span>
            </div>
          </div>
        </div>

        <div class="form-inline">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="newHours">New Total</label>

            <div class="col-sm-3 input-group">
              <input type="number"
                     class="form-control"
                     id="newHours"
                     ng-model="ctrl.new_hours"
                     ng-change="ctrl.newChanged()"
                     ng-model-options="{debounce: 750}"/>
              <span class="input-group-addon">h</span>
            </div>

            <div class="col-sm-3 input-group">
              <input type="number"
                     class="form-control"
                     id="newMinutes"
                     ng-model="ctrl.new_minutes"
                     ng-change="ctrl.newChanged()"
                     ng-model-options="{debounce: 750}"/>
              <span class="input-group-addon">m</span>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="form-inline">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="addedHours">Add Time</label>

            <div class="col-sm-3 input-group">
              <input type="number"
                     class="form-control"
                     id="addedHours"
                     ng-model="ctrl.added_hours"
                     ng-change="ctrl.addedChanged()"
                     ng-model-options="{debounce: 750}"/>
              <span class="input-group-addon">h</span>
            </div>

            <div class="col-sm-3 input-group">
              <input type="number"
                     class="form-control"
                     id="addedMinutes"
                     ng-model="ctrl.added_minutes"
                     ng-change="ctrl.addedChanged()"
                     ng-model-options="{debounce: 750}"/>
              <span class="input-group-addon">m</span>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Rating and Finished fields -->
    <div class="col-sm-12 row">

      <div class="form-group col-lg-3">
        <label class="control-label" for="ratingInput">Rating</label>
        <input type="number"
               class="form-control"
               id="ratingInput"
               ng-model="ctrl.session_rating"/>
      </div>

      <div class="form-group col-lg-3">
        <label class="control-label" for="finished">Finished</label>
        <div>
          <input type="checkbox"
                 id="finished"
                 name="finished"
                 checked
                 class="form-control"
                 ng-model="ctrl.finished"
                 ng-change="ctrl.onFinishChange()">
        </div>
      </div>

      <div class="form-group col-lg-3" ng-show="ctrl.finished === true">
        <label class="control-label" for="finalScoreInput">Final Score</label>
        <input type="number"
               class="form-control"
               id="finalScoreInput"
               name="finalScoreInput"
               ng-model="ctrl.interfaceFields.finalscore"/>
      </div>

      <div class="form-group col-lg-3" ng-show="ctrl.finished === true">
        <label class="control-label" for="replayInput">Replay?</label>
        <input type="number"
               class="form-control"
               id="replayInput"
               name="replayInput"
               ng-model="ctrl.interfaceFields.replay"/>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <input class="btn btn-primary"
           type="submit"
           value="Submit"
           ng-show="ctrl.auth.isAdmin()"
           ng-disabled="gameFields.$invalid || !ctrl.auth.isAuthenticated">
    <input class="btn btn-default"
           type="button"
           value="Cancel"
           ng-click="ctrl.cancel()">
  </div>
</form>


<script>
  $(document).ready(function()  {
    $('#sessionDate').datepicker({
      todayBtn: "linked",
      clearBtn: true,
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      todayHighlight: true
    });
  });
</script>

