
<div class="container" style="margin-top: 10px">

  <!-- RECENTLY PLAYED section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Recently Played</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="game in ctrl.recentGames">

          <a ng-click="ctrl.open(game)" href="">
            <img class="img-rounded"
                 ng-src="{{game.giantbomb_medium_url}}"
                 width="100%"
                 ng-hide="game.giantbomb_medium_url == null"
                 alt="{{game.title}}"/>
          </a>
          <br>
          <span ng-bind="game.last_played|date:ctrl.getDateFormat(game.last_played):'America/Los_Angeles'"></span>
          <div class="col-xs-3 col-md-2" ng-hide="game.giantbomb_medium_url != null" ng-click="ctrl.open(game)" href="">
            <span ng-bind="game.title"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NEWLY ADDED section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Newly Added</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="game in ctrl.newlyAddedGames">

          <a ng-click="ctrl.open(game)" href="">
            <img class="img-rounded"
                 ng-src="{{game.giantbomb_medium_url}}"
                 width="100%"
                ng-hide="game.giantbomb_medium_url == null"
                alt="{{game.title}}"/>
          </a>

          <div class="col-xs-3 col-md-2" ng-hide="game.giantbomb_medium_url != null" ng-click="ctrl.open(game)" href="">
            <span ng-bind="game.title"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ALMOST DONE section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Almost Done</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="game in ctrl.almostDoneGames">

          <a ng-click="ctrl.open(game)" href="">
            <img class="img-rounded"
                 ng-src="{{game.giantbomb_medium_url}}"
                 width="100%"
                ng-hide="game.giantbomb_medium_url == null"
                alt="{{game.title}}"/>
          </a>

          <div class="col-xs-3 col-md-2" ng-hide="game.giantbomb_medium_url != null" ng-click="ctrl.open(game)" href="">
            <span ng-bind="game.title"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>