
<div class="container" style="margin-top: 10px">

  <!-- NEWLY ADDED section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Newly Added</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        Test data
      </div>
    </div>
  </div>

  <!-- RECENTLY PLAYED section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Recently Played</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        Test data
      </div>
    </div>
  </div>

</div>