<div class="container">

  <div class="page-header" style="margin-bottom: 2px" id="banner">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>

  <div class="container col-lg-12">
    <ul class="nav nav-tabs">
      <li ui-sref="games.list" ui-sref-active="active">
        <a>List</a>
      </li>
      <li ui-sref="games.dashboard" ui-sref-active="active">
        <a>Dashboard</a>
      </li>
    </ul>

  </div>


  <div class="container col-lg-12">

    <div ui-view></div>

  </div>

</div>