/*

a {
  color: #00B7FF;
}

th {
  background-color: midnightblue;
  color: lavender;
  text-align: left;
}

td {
  padding: 2pt;
  background-color: skyblue;
}
*/
*, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h3 {
  font-weight: 800;
  font-variant-caps: small-caps;
  font-size: 28pt;
  margin: 0;
}

h1 {
  font-weight: 800;
  font-variant-caps: small-caps;
  font-size: 36pt;
  margin: 0;
}

.btn-sm > li > a {
  font-size: 10pt;
  padding: 9px 12px;
}

.episodeDescription {
  max-width: 300pt;
}

.posterRow {
  margin-bottom: 15px;
  text-align: center;
}

.posterImage {
  position: relative;
  display: block;
}

.posterBadge {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: forestgreen;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterTitle {
  color: black;
  font-size: 13pt;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.addShowButton {
  top: 2pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  horiz-align: center;
  text-align: center;
  position: relative;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterBadgeRed {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: darkred;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.pillTabRed {
  background-color: red;
}

.nextUpRow {
  border: solid 2px lime;
  color: lime;
}

.unwatchedRow {
  color: lightgreen;
}

.unairedRow {
  color: gray;
}

/*
  Don't love this approach, but I couldn't find a way to have btn-success override the background-image tag in nav-pills.
  There aren't any styling class options on nav-pills. So I have to replicate some of the existing btn-success CSS code
  manually in a more specific class.
*/

.nav-pills-success > li > a {
  color: black;
  background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
}

.nav-pills-success > li > a:hover {
  color: black;
  background-image: linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
}

.ignored {
  color: red;
  text-decoration: line-through;
}

.confirmed {
  color: green;
}


/*
  Styles for blog posts
*/

.blogPost {
  margin: 15px;
  border: 1px #62686d solid;
  background-color: #32383e;
  box-shadow: 4px 6px 8px #1e2023;
  border-bottom-right-radius: 30px;
}

.blogPostHeader {
  background-color: #49515a;
  color: white;
  padding: 0;
  /*overflow: auto;*/
}

.blogPostPoster {
  width: 140px;

  display: block;
  float: right;
}

.blogPostImage {
  border-radius:6px;
}

.blogPostLeftCard {
  margin-right: 15px;
  /*display: inline-block;*/
  vertical-align: top;
  height: 100%;
  float: left;
}

.blogPostRightCard {
  /*display: inline-block;*/
  /*width: 100%;*/
  /*margin-bottom: 10px;*/
  overflow: hidden;
  padding: 10px;
}

.blogPostHeaderRanking {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 38pt;
  font-weight: bold;
  vertical-align: middle;
  background-color: #2e3338;
  text-shadow: 1px 2px 3px black;
}

.blogPostHeaderRatingCaption {
  font-size: 9pt;
  text-align: right;
  margin-top: 25px;
}

.blogPostHeaderRating {
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 21pt;
  vertical-align: middle;
  width: 75px;
  float: right;

}


/* TITLE */

.blogPostHeaderTitle {
  font-size: 30pt;
  line-height: 0.9;
  margin-bottom: 10px;
  /*vertical-align: middle;*/
}

.blogPostHeaderSeason {
  font-size: 16pt;
  /*vertical-align: middle;*/
}


/* EPISODES */

.blogPostHeaderEpisodesRow {
  display: block;
  margin-top: 15px
}

.blogPostHeaderEpisodesText {
  display: inline-block;
  font-size: 10pt;
}

.blogPostHeaderEpisodesNumber {
  display: inline-block;
  font-size: 14pt;
  color: white;
  background-color: darkgoldenrod;
  padding: 0 5px;
}


/* FEATURED */

.blogPostHeaderFeaturedLabel {
  font-size: 9pt;
  display: block;
  margin-top: 10px;
}

.blogPostHeaderFeaturedRow {
  display: block;
  vertical-align: middle;
}

.blogPostHeaderFeaturedScore {
  display: inline-block;
  padding: 0 5px;
  font-size: 14pt;
  vertical-align: middle;
}

.blogPostHeaderFeaturedEpNum {
  display: inline-block;
  padding: 5px;
  font-size: 10pt;
  vertical-align: middle;
}

.blogPostHeaderFeaturedEpTitle {
  display: inline-block;
  padding: 5px 7px;
  font-size: 10pt;
  vertical-align: middle;
  background-color: #32383e;
}


/* REVIEW */

.blogPostReview {
  padding: 10px;
  font-weight: lighter;
  color: #a2aab4;
}


/* TOP 20 */


.top20Header {
  background-color: #49515a;
  color: white;
  padding: 0;
  background-size: cover;
  height: 400px;
  /*overflow: auto;*/
}

.top1HeaderRanking {
  display: block;
  text-align: center;
  padding-left: 35px;
  padding-right: 15px;
  font-size: 60pt;
  font-weight: bold;
  vertical-align: middle;
  /*background-color: #2e3338;*/
  /*text-shadow: 1px 2px 3px black;*/
}

.top1Header {
  background-color: #49515a;
  color: white;
  padding: 0;
  background-size: cover;
  height: 600px;
  /*overflow: auto;*/
}

.top20TitleSection {
  margin-right: 5%;
  float: right;
  text-align: right;
}


.top20HeaderTitle {
  font-size: 36pt;
  line-height: 0.9;
  margin-bottom: 0;
  text-shadow: 1px 2px 3px black;
  font-weight: bold;
  /*vertical-align: middle;*/
}

.top1HeaderTitle {
  font-size: 36pt;
  color: black;
  line-height: 0.9;
  margin-bottom: 0;
  font-weight: bold;
  text-shadow: 1px 2px 3px lightgoldenrodyellow;
  /*vertical-align: middle;*/
}

.top20HeaderSeason {
  font-size: 20pt;
  text-shadow: 1px 2px 3px black;
  /*vertical-align: middle;*/
}

.top1HeaderSeason {
  font-size: 20pt;
  color: black;
  /*vertical-align: middle;*/
}

.top20HeaderBottomSection {
  background-color: #1e2023;
  color: white;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.top20FeaturedSection {
  float: right;
}

.top20FeaturedLabel {
  font-size: 9pt;
  display: block;
}
