/*

a {
  color: #00B7FF;
}

th {
  background-color: midnightblue;
  color: lavender;
  text-align: left;
}

td {
  padding: 2pt;
  background-color: skyblue;
}
*/
*, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.episodeDescription {
  max-width: 300pt;
}

.posterRow {
  margin-bottom: 15px;
}

.posterBadge {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: forestgreen;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterBadgeRed {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: darkred;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.pillTabRed {
  background-color: red;
}

/*
  Don't love this approach, but I couldn't find a way to have btn-success override the background-image tag in nav-pills.
  There aren't any styling class options on nav-pills. So I have to replicate some of the existing btn-success CSS code
  manually in a more specific class.
*/

.nav-pills-success > li > a {
  color: black;
  background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
}

.nav-pills-success > li > a:hover {
  color: black;
  background-image: linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
}

.ignored {
  color: red;
  text-decoration: line-through;
}

.confirmed {
  color: green;
}
