/*

a {
  color: #00B7FF;
}

th {
  background-color: midnightblue;
  color: lavender;
  text-align: left;
}

td {
  padding: 2pt;
  background-color: skyblue;
}
*/

.episodeDescription {
  max-width: 300pt;
}

.posterRow {
  margin-bottom: 15px;
}

.posterBadge {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: forestgreen;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterBadgeRed {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: darkred;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}