/*

a {
  color: #00B7FF;
}

th {
  background-color: midnightblue;
  color: lavender;
  text-align: left;
}

td {
  padding: 2pt;
  background-color: skyblue;
}
*/
*, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h3 {
  font-weight: 800;
  font-variant-caps: small-caps;
  font-size: 28pt;
  margin: 0;
}

h1 {
  font-weight: 800;
  font-variant-caps: small-caps;
  font-size: 36pt;
  margin: 0;
}

.btn-sm > li > a {
  font-size: 10pt;
  padding: 9px 12px;
}

.episodeDescription {
  max-width: 300pt;
}

.posterRow {
  margin-bottom: 15px;
  text-align: center;
}

.posterImage {
  position: relative;
  display: block;
}

.posterBadge {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: forestgreen;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterTitle {
  color: black;
  font-size: 13pt;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.addShowButton {
  top: 2pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  horiz-align: center;
  text-align: center;
  position: relative;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterBadgeRed {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: darkred;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.pillTabRed {
  background-color: red;
}

.nextUpRow {
  border: solid 2px lime;
  color: lime;
}

.unwatchedRow {
  color: lightgreen;
}

.unairedRow {
  color: gray;
}

/*
  Don't love this approach, but I couldn't find a way to have btn-success override the background-image tag in nav-pills.
  There aren't any styling class options on nav-pills. So I have to replicate some of the existing btn-success CSS code
  manually in a more specific class.
*/

.nav-pills-success > li > a {
  color: black;
  background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
}

.nav-pills-success > li > a:hover {
  color: black;
  background-image: linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
}

.ignored {
  color: red;
  text-decoration: line-through;
}

.confirmed {
  color: green;
}


/*
  Styles for blog posts
*/

.blogPost {
  margin: 15px;
  border: 1px #62686d solid;
  background-color: #32383e;
  box-shadow: 4px 6px 8px #1e2023;
  border-bottom-right-radius: 30px;
}

.blogPostHeader {
  background-color: #49515a;
  color: white;
  vertical-align: middle;
}

.blogPostHeaderRanking {
  horiz-align: center;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 60px;
  font-size: 32pt;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  background-color: #2e3338;
  text-shadow: 1px 2px 3px black;
}

.blogPostHeaderTitle {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20pt;
  line-height: 60px;
  display: inline;
  vertical-align: middle;
}

.blogPostHeaderRating {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 60px;
  font-size: 26pt;
  display: inline;
  vertical-align: middle;
  float: right;
  background-color: #8da136;
}

.blogPostReview {
  padding: 10px;
  font-weight: lighter;
}