
<div style="margin: 15px;
            border: 1px darkgray solid;">

  <!-- Top Bar Container -->
  <div style="width: 100%;
              background-color: dimgray;
              color: white;
              vertical-align: middle;">

    <!-- Ranking -->
    <div style="width: 75px;
                horiz-align: center;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 60px;
                font-size: xx-large;
                display: inline-block;
                vertical-align: middle;
                background-color: black;">
      67
    </div>

    <!-- Series Title -->
    <div style="padding-left: 15px;
                padding-right: 15px;
                font-size: large;
                line-height: 60px;
                display: inline;
                vertical-align: middle;">
      The Big Bang Theory 9/10
    </div>

    <!-- Rating -->
    <div style="padding-left: 15px;
                padding-right: 15px;
                line-height: 60px;
                font-size: xx-large;
                display: inline;
                vertical-align: middle;
                float: right;
                background-color: #8da136;">
      60.2
    </div>

    <!-- End Top Bar Container -->
  </div>

  <!-- Review -->
  <div style="padding: 10px;">
    See my review for last season, which still mostly applies. It honestly feels like there are these moments, outside of the control of the writers themselves, that for whatever reason, be it momentary inspiration from one of the actors, an especially caffeinated day from the director... but against all odds, these moments just work. And brilliantly. A couple of my biggest laughs this year were to this show. One moment almost brought me to tears. And the other 98% of the content hurt me and made me feel ugly. I'm almost interested in this as a human experiment, to see how much torture I will put myself through for the glimmer of hope for one of those moments. This show isn't good.
  </div>

</div>