
<div class="blogPost">

  <!-- Top Bar Container -->
  <div class="blogPostHeader">

    <!-- Ranking -->
    <div class="blogPostHeaderRanking">67</div>

    <!-- Series Title -->
    <div class="blogPostHeaderTitle">The Big Bang Theory 9/10</div>

    <!-- Rating -->
    <div class="blogPostHeaderRating">60.2</div>

    <!-- End Top Bar Container -->
  </div>

  <!-- Review -->
  <div class="blogPostReview">
    See my review for last season, which still mostly applies. It honestly feels like there are these moments, outside of the control of the writers themselves, that for whatever reason, be it momentary inspiration from one of the actors, an especially caffeinated day from the director... but against all odds, these moments just work. And brilliantly. A couple of my biggest laughs this year were to this show. One moment almost brought me to tears. And the other 98% of the content hurt me and made me feel ugly. I'm almost interested in this as a human experiment, to see how much torture I will put myself through for the glimmer of hope for one of those moments. This show isn't good.
  </div>

</div>