
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Find Show</h3>
  </div>

  <div class="panel-body">

    <div class="col-lg-3">
      <img class="img-rounded"
           ng-show="ctrl.selected.title !== undefined && ctrl.selected.title !== null"
           ng-src="{{ctrl.selected.posterResolved}}"
           err-src="images/GenericSeries.gif"
           width="100%"/>
    </div>

    <div class="col-lg-9">
      <input type="text"
             ng-disabled="!ctrl.namesReady"
             ng-model="ctrl.selected"
             uib-typeahead="show as show.title for show in ctrl.shows | filter:{title:$viewValue} | limitTo:6"
             class="form-control">
    </div>


  </div>


</div>

