<div class="modal-header">
  <h1 ng-bind="ctrl.series.title"></h1>
</div>

<div class="modal-body clearfix">

  <div class="fade-repeat col-lg-3 posterRow" ng-repeat="match in ctrl.possibleMatches">
    <img class="img-rounded"
         ng-style="ctrl.posterStyle(match)"
         ng-src="{{match.posterResolved}}"
         ng-click="ctrl.selectMatch(match)"
         width="100%"/>
    <h4 ng-bind="match.tvdb_series_title"></h4>
  </div>

</div>

<div class="modal-footer">
  <input class="btn btn-primary"
         type="button"
         value="OK"
         ng-show="ctrl.auth.isAdmin()"
         ng-disabled="!ctrl.auth.isAuthenticated"
         ng-click="ctrl.ok()">
  <input class="btn btn-default"
         type="button"
         value="Cancel"
         ng-click="ctrl.cancel()">
</div>