
<div class="container" style="margin-top: 10px">

  <div class="container col-lg-2">

    <ul class="nav nav-pills nav-stacked btn-sm">
      <li ng-class="ctrl.isActive('Needs First Pass')">
        <a href ng-click="ctrl.changeToNeedsFirstPass()">
          Needs First Pass
        </a>
      </li>
      <li ng-class="ctrl.isActive('Match Pending')">
        <a href ng-click="ctrl.changeToMatchPending()">
          Match Pending
        </a>
      </li>
    </ul>

  </div>

  <div class="container col-lg-10">
    <div ui-view></div>
  </div>
</div>